.main-order-info-modal-container.open-modal {
    display: grid;
    place-items: center;
}

.main-order-info-modal-container {
    display: none;
    position: absolute;
    inset: 0;
    z-index: 99999999;
    background-color: var(--shadow);
}

.main-order-info-modal-container .order-info-modal-container {
    width: 50%;
    max-width: 900px;
    margin-inline: auto;
    background-color: var(--alt-bg-color);
    border-radius: 6px;
}

.main-order-info-modal-container .order-info-modal-container .head {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0.6rem;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

    background-color: var(--hover-link-color);
}

.main-order-info-modal-container .order-info-modal-container .head .info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 0.5rem;
    width: 100%;
}

.main-order-info-modal-container
    .order-info-modal-container
    .head
    .info
    .more-info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 1rem;

    width: 100%;
}

.main-order-info-modal-container
    .order-info-modal-container
    .head
    .info
    > span:nth-child(1) {
    font-size: 1.8rem;
    font-weight: 500;
    opacity: 0.7;
    text-transform: capitalize;
}

.main-order-info-modal-container
    .order-info-modal-container
    .head
    .info
    .more-info
    .user-email {
    font-size: 0.84rem;
}

.main-order-info-modal-container
    .order-info-modal-container
    .head
    .info
    .more-info
    .error {
    font-size: 0.8rem;
    color: rgb(187, 56, 56);
    text-transform: capitalize;
}

.main-order-info-modal-container .order-info-modal-container .close-btn {
    font-size: 2rem;
}

.main-order-info-modal-container
    .order-info-modal-container
    .close-btn
    svg
    path {
    stroke: rgba(137, 137, 137, 0.826);
}

.main-order-info-modal-container
    .order-info-modal-container
    .order-info-modal-info-container {
    display: flex;
    flex-direction: column;
    gap: 0.67rem;

    padding: 1rem;
}

.main-order-info-modal-container
    .order-info-modal-container
    .order-info-modal-info-container
    .select-status-menu-container {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    font-size: 0.9rem;
    margin-block: 0.8rem;

    width: 9rem;

    background-color: var(--logo-blob);
    border-radius: 5px;
    cursor: pointer;

    transition: background-color 200ms ease-in-out;
    padding: 0.5rem 1rem;
    text-transform: capitalize;
}

.main-order-info-modal-container
    .order-info-modal-container
    .order-info-modal-info-container
    .select-status-menu-container:hover {
    background-color: var(--hover-link-color);
}

.main-order-info-modal-container
    .order-info-modal-container
    .order-info-modal-info-container
    .select-status-menu-container
    .status-options-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    top: 115%;
    inset-inline: 0;

    background-color: var(--extra-light-bg-color);
    padding: 0.1rem 0.3rem;
    border-radius: 3px;

    transform: scale(0);
    transform-origin: top;
    transition: transform 150ms ease;

    z-index: 99;
}

.main-order-info-modal-container
    .order-info-modal-container
    .order-info-modal-info-container
    .select-status-menu-container
    .status-options-container:focus-within {
    transform: scale(1);
}

.main-order-info-modal-container
    .order-info-modal-container
    .order-info-modal-info-container
    .select-status-menu-container
    .status-options-container.open-menu {
    transform: scale(1);
}

.main-order-info-modal-container
    .order-info-modal-container
    .order-info-modal-info-container
    .select-status-menu-container
    .status-options-container
    button {
    padding: 0.4rem 1rem;
    background-color: var(--alt-bg-color);
    font-size: 0.8rem;
    border-radius: 4px;
    text-transform: capitalize;
    transition: background-color 150ms ease-in-out;
}

.main-order-info-modal-container
    .order-info-modal-container
    .order-info-modal-info-container
    .select-status-menu-container
    .status-options-container
    button:hover {
    background-color: var(--hover-link-color);
}

.main-order-info-modal-container
    .order-info-modal-container
    .order-info-modal-info-container
    > span {
    font-size: 0.9rem;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.main-order-info-modal-container
    .order-info-modal-container
    .order-info-modal-info-container
    > span
    span:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.main-order-info-modal-container
    .order-info-modal-container
    .order-info-modal-info-container
    > span:nth-child(1)
    > span {
    gap: 3rem;
}

.main-order-info-modal-container
    .order-info-modal-container
    .order-info-modal-info-container
    > span:nth-child(2)
    > span {
    gap: 2rem;
}

.main-order-info-modal-container
    .order-info-modal-container
    .order-info-modal-info-container
    > span:nth-child(3)
    > span {
    gap: 1.5rem;
}

.main-order-info-modal-container
    .order-info-modal-container
    .order-info-modal-info-container
    > span:nth-child(4)
    > span {
    gap: 1.5rem;
}

.main-order-info-modal-container
    .order-info-modal-container
    .order-info-modal-info-container
    .order-action-btn-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
    gap: 1rem;
    align-items: center;

    position: relative;
}

.main-order-info-modal-container
    .order-info-modal-container
    .order-info-modal-info-container
    .order-action-btn-container
    button {
    color: var(--fill-color);
    padding: 0.34rem 1.5rem;
    background-color: var(--logo-blob);
    border-radius: 0.3rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;

    text-transform: capitalize;
    font-weight: 500;
    transition: background-color 200ms ease-in-out;
}

.main-order-info-modal-container
    .order-info-modal-container
    .order-info-modal-info-container
    .order-action-btn-container
    button
    svg {
    font-size: 1rem;
}

.main-order-info-modal-container
    .order-info-modal-container
    .order-info-modal-info-container
    .order-action-btn-container
    button:hover {
    background-color: var(--hover-link-color);
}

@media screen and (max-width: 1000px) {
    .main-order-info-modal-container .order-info-modal-container {
        width: 80%;
    }
}

@media screen and (max-width: 500px) {
    .main-order-info-modal-container .order-info-modal-container {
        width: 95%;
    }
}
